<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container-fluid">
        <!-- Sidebar Toggle Button -->
        <button class="btn btn-primary d-lg-none" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand ms-3 text-white d-lg-none" href="#">FRUITZO</a>

        <!-- Navbar Links -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link">Siddhant, </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-body" href="#">
                        <i class="material-icons text-white">notifications</i>
                        <span class="badge rounded-pill bg-danger position-absolute" style="font-size: 10px;right: 12px; top: 10px;">9</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>